In [1]:
from nltk.corpus  import stopwords
d1="A baby learns to crawl, walk and then run .  We are in the crawling stage when \
it comes to applying machine learning."
d2="Data scientists are statisticians because being a statistician is awesome and \
anyone who does cool things with data is a statistician."

In [2]:
d1=d1.lower()
d2=d2.lower()

In [3]:
d1_list=d1.split(" ")

In [4]:
d1_list=[i for i  in d1_list if i.isalpha() ]

In [5]:
d1_list = [i for i in d1_list if i not in stopwords.words('english')]

In [6]:
d2_list=d2.split(" ")

In [7]:
d2_list=[i for i  in d2_list if i.isalpha() ]

In [8]:
d2_list = [i for i in d2_list if i not in stopwords.words('english')]

In [9]:
d=list(set(d1_list+d2_list))

In [10]:
dict_d1=dict.fromkeys(d,0)
dict_d2=dict.fromkeys(d,0)

In [11]:
imp_word = [i for i in d if i not in stopwords.words('english')]

In [12]:
for i in d1_list:
    dict_d1[i]+=1
for i in d2_list:
    dict_d2[i]+=1

In [13]:
dict_d1

{'learns': 1,
 'comes': 1,
 'walk': 1,
 'stage': 1,
 'statisticians': 0,
 'statistician': 0,
 'anyone': 0,
 'scientists': 0,
 'cool': 0,
 'baby': 1,
 'data': 0,
 'machine': 1,
 'crawling': 1,
 'applying': 1,
 'awesome': 0,
 'run': 1,
 'things': 0}

In [14]:
dict_d2

{'learns': 0,
 'comes': 0,
 'walk': 0,
 'stage': 0,
 'statisticians': 1,
 'statistician': 1,
 'anyone': 1,
 'scientists': 1,
 'cool': 1,
 'baby': 0,
 'data': 2,
 'machine': 0,
 'crawling': 0,
 'applying': 0,
 'awesome': 1,
 'run': 0,
 'things': 1}

In [15]:
import pandas as pd

In [17]:
pd.DataFrame([dict_d1,dict_d2])

,anyone,applying,awesome,baby,comes,cool,crawling,data,learns,machine,run,scientists,stage,statistician,statisticians,things,walk
0,0,1,0,1,1,0,1,0,1,1,1,0,1,0,0,0,1
1,1,0,1,0,0,1,0,2,0,0,0,1,0,1,1,1,0

In [30]:
def computeTF(word_dict,d):
    tf={}
    n=len(d)
    for word,count in word_dict.items():
        tf[word]= count/float(n)
    return(tf)

In [31]:
tf_d1=computeTF(dict_d1,d1)
tf_d2=computeTF(dict_d2,d2)

In [32]:
tf_d1

{'learns': 0.008547008547008548,
 'comes': 0.008547008547008548,
 'walk': 0.008547008547008548,
 'stage': 0.008547008547008548,
 'statisticians': 0.0,
 'statistician': 0.0,
 'anyone': 0.0,
 'scientists': 0.0,
 'cool': 0.0,
 'baby': 0.008547008547008548,
 'data': 0.0,
 'machine': 0.008547008547008548,
 'crawling': 0.008547008547008548,
 'applying': 0.008547008547008548,
 'awesome': 0.0,
 'run': 0.008547008547008548,
 'things': 0.0}

In [23]:
tf_d2

{'learns': 0.0,
 'comes': 0.0,
 'walk': 0.0,
 'stage': 0.0,
 'statisticians': 0.007462686567164179,
 'statistician': 0.007462686567164179,
 'anyone': 0.007462686567164179,
 'scientists': 0.007462686567164179,
 'cool': 0.007462686567164179,
 'baby': 0.0,
 'data': 0.014925373134328358,
 'machine': 0.0,
 'crawling': 0.0,
 'applying': 0.0,
 'awesome': 0.007462686567164179,
 'run': 0.0,
 'things': 0.007462686567164179}

In [51]:
def compute_idf(docList):
    import math
    idf_dict={}
    N=len(docList)
    idf_dict=dict.fromkeys(docList[0].keys(),0)
    for doc in docList:
        for word,val in doc.items():
            if val>0:
                idf_dict[word] += 1
                           
    for word,val in idf_dict.items():
        idf_dict[word]=math.log(N/float(val))
       
    return idf_dict

In [52]:
idfs=compute_idf([dict_d1,dict_d2])

In [54]:
def compute_tf_idf(tf,idfs):
    tf_idf={}
    for word,val in tf.items():
        tf_idf[word]=val*idfs[word]
    return tf_idf

In [57]:
tf_idf_d1=compute_tf_idf(tf_d1,idfs)
tf_idf_d2=compute_tf_idf(tf_d2,idfs)

In [58]:
pd.DataFrame([tf_idf_d1,tf_idf_d2])

,anyone,applying,awesome,baby,comes,cool,crawling,data,learns,machine,run,scientists,stage,statistician,statisticians,things,walk
0,0.000000,0.005924,0.000000,0.005924,0.005924,0.000000,0.005924,0.000000,0.005924,0.005924,0.005924,0.000000,0.005924,0.000000,0.000000,0.000000,0.005924
1,0.005173,0.000000,0.005173,0.000000,0.000000,0.005173,0.000000,0.010345,0.000000,0.000000,0.000000,0.005173,0.000000,0.005173,0.005173,0.005173,0.000000

### This Shows that doc 1 is all about machine learning 
### whereas doc2 is all about data